.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  position: relative;
}
.phoneScreen {
  height: 844px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.onBoardingBackground {
  background-image: url(/public/onboarding-background.svg);
  background-color: #011669;
}

.onBoardingBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.onBoardingBackground p {
  margin-bottom: 0px;
}

.loginBanner {
  position: relative;
  margin-top: 176px;
}


#bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 50vh;
  width: 100%;
}

#loginText{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginAggieText{
  font-size: 1.5rem;
  color: #FFFACD;
}

#registerText{
  font-size: 1.1rem;
  padding-bottom: 5px;
  color: white;
}

.flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aBtn{
  padding:5px 10px;
  text-decoration:none;
  color:white;
  background-color:#404040;
  border:1px solid transparent;
  border-radius: 12px;
}
.aBtn:hover {color:white;}
.aBtn:active{border:1px solid orange;}